
 <div class="hero-section">
    <div class="hero-text">
       <h1 class="course-title">{{fullname}}</h1>
       <a href="#">Dashboard</a> • 
       <a href="#">Courses</a> •
    </div>
  </div>



   <main class="container">
   <section class="course-container">


  <div class="course-content">
    <h1 class="course-title">{{fullname}}</h1>

   

    <div class="course-meta">
    {{#teachers.0}}
      <div class="course-teachers">
        <span>👤{{#teachers.1}}s{{/teachers.1}} {{name}}</span>
        
        
      </div>
    {{/teachers.0}}
    </div>
    
 {{#summary}}
 <h5 class="description"> Course Description</h5>
      <div class="course-summary">{{{summary}}}</div>
    {{/summary}}
    


  </div>
</section>
<section class="enrol">

<aside class="course-sidebar">
{{#courseimage}}
    <div class="hero-image">
      <img src="{{courseimage}}" alt="{{fullname}}" class="hero-img" />
    </div>
  {{/courseimage}}
      <div class="price">{{#enrolwidgets}}
      <div class="enrol-widget">
        {{{.}}}
      </div>
    {{/enrolwidgets}}</div>
    


 <div class="course-right">
        <div class="detail-item">
          <span class="label">👨‍🏫 Course Level:</span>
          <span class="value">Intermediate</span>
        </div>
        <div class="detail-item">
          <span class="label">💰Language:</span>
          <span class="value">English</span>
        </div>
        <div class="detail-item">
          <span class="label">⏳ Duration</span>
          <span class="value">4 Weeks</span>
        </div>
        <div class="detail-item">
          <span class="label">📊 Level</span>
          <span class="value">Beginner</span>
        </div>
        <div class="detail-item">
          <span class="label">🎓 Certificate</span>
          <span class="value">Yes</span>
        </div>
      </div>

    </aside>
    </section>

 </main>
<footer class="footer">
  <div class="footer-container">

    <!-- Left Side -->
    <div class="top">


     
        
      

          {{# output.loggedinuser }}
          
            You are logged in as 
            <a href="{{{ output.userprofileurl }}}" title="View profile">{{{ output.userfullname }}}</a> 
            (<a href="{{{ config.wwwroot }}}/login/logout.php?sesskey={{{ sesskey }}}">Log out</a>)
          
          {{/ output.loggedinuser }}
        </div>
      </div>
    

    <!-- Right Side -->
    <div class="footer-right">
      <div class="footer-down">
          <img src="https://elearnkranti.com/pluginfile.php/1/core_admin/logocompact/300x300/1753703039/eLearnKranti%201%20%281%29.png" class="logo me-1" alt="Pariksha Kranti" style="margin-bottom: 20px !important;">
        <p>Join eLearnKranti, India's premier e-learning platform launched in 2025, empowering learners with cutting-edge skills for a dynamic future.</p>
      </div>
      <div class="footer-down">
        <h4>Data Science</h4>
        <ul>
          <li>Python</li>
          <li>Machine Learning</li>
          <li>ChatGPT</li>
          <li>Deep Learning</li>
        </ul>
      </div>
      <div class="footer-down">
        <h4>IT Certificates</h4>
        <ul>
          <li>Amazon AWS</li>
          <li>CCNA</li>
          <li>Kubernetes</li>
          <li>Power BI</li>
        </ul>
      </div>
      <div class="footer-down">
        <h4>Legal & Accessibility</h4>
        <ul>
         <li><a href="https://elearnkranti.com/theme/boost/privacy-policy.php">Privacy Policy</a></li>
          <li><a href="https://elearnkranti.com/theme/boost/terms.php">Terms</a></li>
          <li>Accessibility statement</li>
          <li>Sitemap</li>
        </ul>
      </div>
      
     
    </div>

  </div>
</footer>


 <style>

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


html, body {
  width: 100%;
}


    #page.drawers .main-inner {
        padding: 0px !important;
        margin: 0px !important;
    }
    #page.drawers {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #page.drawers div[role="main"] {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .header-maxwidth {
    display: none;
    }




.course-title{
    font-weight: 800;
}



    .course-container {
      max-width: 1200px;
      margin: auto;
    }

    .course {
      display: flex;
      flex-wrap: wrap;
      background-color: #ffffff;
      border-radius: 10px;
      margin-bottom: 30px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      padding: 25px;
      gap: 5%;
    }

    .course-left {
      flex: 0 0 60%;
      background-color: #f9fafb;
      padding: 20px;
      border-radius: 8px;
    }

    .course-right {
      flex: 0 0 30%;
      background-color: #f1f5f9;
      padding: 20px;
      border-radius: 8px;
    }

    .course-left h2 {
      color: #2c3e50;
      margin-top: 0;
    }

    .course-left p {
      color: #555;
      line-height: 1.6;
    }

    .detail-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      font-size: 16px;
    }

    .label {
      color: #444;
      font-weight: 500;
    }

    .value {
      color: #2c3e50;
      font-weight: bold;
    }

    .icon {
      margin-right: 8px;
    }

    @media (max-width: 768px) {
      .course {
        flex-direction: column;
        gap: 20px;
      }

      .course-left, .course-right {
        flex: 100%;
      }
    }


.hero-section {
 background-image: url('https://elearnkranti.com/media/coursepg.jpg');
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   width: 100%;
}
@media (min-width: 768px) {
    .header-maxwidth {
        max-width: 830px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px !important;
    }
}
#page-header .w-100 {
  width:100%;
}

.course-container{
 
      margin: 0 auto;
      background: white;
      border-radius: 15px;
      padding: 30px;
  
}
.hero-text {
  background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent overlay */
  padding: 30px;
  border-radius: 10px;
}
.hero-text h{
  color:#f5f5f5;
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.hero-text a{
  color: #f5f5f5;
}
.hero-text p {
  font-size: 1.8rem;
}

.pagelayout-standard #page.drawers .main-inner,
body.limitedwidth #page.drawers .main-inner {
        max-width: 100% !important;
    }

.hero-image img{
  max-width:300px;
  max-height:150px;
  border-radius:20px;
  margin-bottom:20px;
  margin-top:20px;
}

.course-banner img{
  width:136%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}
.enrol-widget btn{
  background-image: linear-gradient(275deg, #4b5aed, #a865e9);
}
.card-footer .btn {
  background-image: linear-gradient(275deg, #4b5aed, #a865e9);
 align-items: center;
}
.enrol-widget{
  font-size:16px;
}
.card-header h3{
  font-size:20px;
}
.price{
  font-size:16px;
}
.price btn{
  background-image: linear-gradient(275deg, #4b5aed, #a865e9);
}
body {
  background-color: #fff;
  color: #333;
  padding: 0;
  margin: 0;
}
.course-meta .course-teachers{
  margin-top:20px;
}
.header-maxwidth {
        max-width: 100% !important;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px !important;
    }


.course-summary{
  margin-top:10px;
  width: 100%;
  text-align: left;
}

.description{
  margin-top:20px;
}
.container {
  display: flex;
 max-width: 98%;
    margin: 40px auto;
    padding: 0 20px;
    gap: 5px;
}

.course-header {
  flex: 2;
}

.course-header h1 {
  font-size: 2rem;
  color: #015c5c;
}

.subtitle {
  margin: 10px 0;
  font-size: 1rem;
  color: #6b6b6b;
}
.course-content{
   margin-top:20px;
  margin-bottom:20px;
  padding-top:20px;
  padding-bottom:20px;
 
}
.course-meta {
  margin-top: 10px;
  display: flex;
  gap: 45px;
  font-size: 0.9rem;
  color: #015c5c;
}

.course-sidebar {
  flex: 1;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  min-width: 280px;
}

.course-sidebar .price {
  font-size: 24px;
  color: #015c5c;
  font-weight: bold;
  margin-bottom: 10px;
}

.enroll-btn {
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(275deg, #4b5aed, #a865e9);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

.details li {
  margin-bottom: 10px;
}

.course-description {
  flex: 1 1 100%;
  margin-top: 40px;
}

.course-description h2 {
  font-size: 1.5rem;
  color: #015c5c;
  margin-bottom: 10px;
}

.course-description p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}
 

 @media (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}




  /* body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #fff;
} */

.footer {
  background-color: #111;
  padding: 40px 20px;
  margin-top: 65px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
  justify-content: space-between;
}

.footer-left {
  flex: 1 1 300px;
}

.logo {
  width: 120px;
  margin-bottom: 15px;
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ccc;
}

.contact {
  font-size: 14px;
  color: white;
  margin-top:0;
  margin-bottom:0;

}

.contact-title {
  font-weight: bold;
  margin-bottom: 0px;
}

.contact-info span {
  display: inline-block;
  margin-right: 15px;
  margin-top: 0px;
}

.footer-right {
  padding-left:55px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 0px;
  flex: 1;
}

.footer-down h4 {
  margin-bottom: 0px;
  font-size: 16px;
  color: #fff;
}

.footer-down ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.footer-down li {
  margin-bottom: 6px;
  color: #ccc;
  cursor: pointer;
}

.footer-down li:hover {
  text-decoration: underline;
}




.footer-right {
  flex: 2 1 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.footer-down h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-down ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-down ul li {
  margin-bottom: 6px;
  color: #eee;
}

.footer a {
  color: #ddd;
  text-decoration: underline;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.contact-info span,
.contact-info div,
.contact-info h5 {
  display: block;
  margin-bottom: 0px;
}

.footer {
  background-color: #000000;
  color: white;
  padding: 0px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0;
  
}
.footer {
  margin: 0;
  padding: 0;
}
.footer-left {
  padding-left:50px;
  padding-top:30px;
  background-color:#00000;
  color:white;
}
.top {
  padding-top:40px;
  padding-left:55px;
  padding-bottom:40px;
}

.footer-right {
  flex: 2 1 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding-bottom:40px;
}

.footer-down h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-down ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-down ul li {
  margin-bottom: 6px;
  color: #eee;
}

.footer a {
  color: #ddd;
  text-decoration: underline;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.contact-info span,
.contact-info div,
.contact-info h5 {
  display: block;
  margin-bottom: 0px;
}

.tag{
  padding-right:55px;
  
}
.footer-left {
    flex: 1 1 300px !important;
}


 .logininfo{
  display: none;
}
.tool_dataprivacy{
  display: none;
}
.mobilelink{
   display: none;
}
#theme_switch_link{
   display: none;
}

.footer-section{
  display: none;
}





 @media only screen and (max-width: 600px) {
     .SearchSection input {
        min-width: 55% !important;
        max-width: 55% !important;
    }
    .SearchSection button {
               width: 40% !important;
    }
    
    .footer-right {
    display: block;
    }
    .navbar.fixed-top .usermenu .login {
    display: none;
    }
    .fixed-top {
    position: absolute;
    }
    .container {
    display: block;
    max-width: 98%;
    margin: 10px auto;
    padding: 0 2px;
    }
    .hero-text h1 {
    font-size: 2rem;
    }
   .hero-text {
    margin: 10px;
   }
    
}




#page-content{
    padding-bottom: 0rem !important;
}








 </style>