
 
<img src="https://media.istockphoto.com/id/1495430612/vector/coming-soon-with-colorful-cut-out-foil-ribbon-confetti-background.jpg?s=612x612&w=0&k=20&c=0HjZUHqlNnUedZmJCbMpooiY92f4tgGCh_jZK51zSmU=" style="margin-left: 50%; transform: translateX(-50%);">
		
	
<div style="display: none;">
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

   {{{ output.main_content }}}

    

</div>
</div>



  
